flows (2).json
[{"id":"6b47920b.68a7ec","type":"tab","label":"FarmHub","disabled":false,"info":""},{"id":"6e3bc62a.8d7a28","type":"ui_form","z":"6b47920b.68a7ec","name":"Registration form","label":"","group":"35e7d583.c0330a","order":0,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Address","value":"address","type":"text","required":true,"rows":null},{"label":"Contact Number","value":"contact","type":"number","required":true,"rows":null},{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null},{"label":"additional info?","value":"info","type":"text","required":false,"rows":null}],"formValue":{"name":"","address":"","contact":"","email":"","password":"","info":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":80,"wires":[["2ed08db3.1e5182","ce87e966.a2c228"]]},{"id":"2ed08db3.1e5182","type":"function","z":"6b47920b.68a7ec","name":"User_DETAIL02","func":"msg.payload={\n    NAME:msg.payload.name,\n    ADDRESS:msg.payload.address,\n    PHONE:msg.payload.contact,\n    EMAIL:msg.payload.email,\n    PASSWORD:msg.payload.password,\n    ADDINFO:msg.payload.info,\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["af280dce.341fb","af891d1.a4dace"]]},{"id":"ce87e966.a2c228","type":"function","z":"6b47920b.68a7ec","name":"","func":"//msg.payload=\"hey \"+msg.payload.name+\"  registration is sucessful\"\n//return msg","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["91176ee2.efdce"]]},{"id":"91176ee2.efdce","type":"ui_text","z":"6b47920b.68a7ec","group":"35e7d583.c0330a","order":3,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-left","x":570,"y":200,"wires":[]},{"id":"af280dce.341fb","type":"dashDB out","z":"6b47920b.68a7ec","dashDB":"e6af325c.7d8df","service":"_ext_","table":"USER_DETAILS02","name":"","x":570,"y":40,"wires":[]},{"id":"af891d1.a4dace","type":"debug","z":"6b47920b.68a7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":100,"wires":[]},{"id":"57d5a542.92ecfc","type":"ui_form","z":"6b47920b.68a7ec","name":"login form","label":"","group":"34e05384.79319c","order":4,"width":0,"height":0,"options":[{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"password","value":"pwd","type":"password","required":true,"rows":null}],"formValue":{"email":"","pwd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":420,"wires":[["4793b7e7.62ef18"]]},{"id":"4793b7e7.62ef18","type":"function","z":"6b47920b.68a7ec","name":"","func":"global.set(\"email\",msg.payload.email);\nglobal.set(\"pwd\",msg.payload.pwd);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["b4e2182.b2673e8"]]},{"id":"b4e2182.b2673e8","type":"function","z":"6b47920b.68a7ec","name":"","func":"var email=global.get(\"email\")\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":440,"wires":[["5b299595.60b89c"]]},{"id":"352d2165.8ba7ce","type":"debug","z":"6b47920b.68a7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":360,"wires":[]},{"id":"957bfd56.9c491","type":"function","z":"6b47920b.68a7ec","name":"","func":"// var pwd=global.get('pwd')\n// if(msg.payload.PASSWORD==pwd){\n// msg.payload=\"login sucessful\"\n// }\n// else{\n// msg.payload=\"Invalid password\"\n// }\n// return msg;","outputs":1,"noerr":0,"x":890,"y":500,"wires":[["8d7bf45a.cd74c8"]]},{"id":"8d7bf45a.cd74c8","type":"ui_text","z":"6b47920b.68a7ec","group":"34e05384.79319c","order":3,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":400,"wires":[]},{"id":"5b299595.60b89c","type":"dashDB in","z":"6b47920b.68a7ec","dashDB":"e6af325c.7d8df","service":"_ext_","query":"SELECT  \"PASSWORD\"\n  FROM \"PSM37102\".\"USER_DETAILS02\" where EMAIL=email;\n","params":"","name":"","x":720,"y":420,"wires":[["352d2165.8ba7ce","957bfd56.9c491"]]},{"id":"25d9fede.b7ff92","type":"ui_form","z":"6b47920b.68a7ec","name":"Pull Request form","label":"","group":"735609ca.5d0d98","order":0,"width":0,"height":0,"options":[{"label":"Market name","value":"mname","type":"text","required":true,"rows":null},{"label":"Person name","value":"pname","type":"text","required":true,"rows":null},{"label":"Distance from ref","value":"dfr","type":"number","required":true,"rows":null},{"label":"Crop requested","value":"creq","type":"text","required":true,"rows":null},{"label":"Crop quantity","value":"cq","type":"number","required":true,"rows":null},{"label":"cost can pay?","value":"cost","type":"text","required":true,"rows":null},{"label":"Contact At","value":"contact","type":"number","required":true,"rows":null},{"label":"EMAIL","value":"email","type":"text","required":false,"rows":null}],"formValue":{"mname":"","pname":"","dfr":"","creq":"","cq":"","cost":"","contact":"","email":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":940,"wires":[["c716841.4bec678","c3133fd5.b467f"]]},{"id":"c716841.4bec678","type":"function","z":"6b47920b.68a7ec","name":"Pull request","func":"msg.payload={\n    MARKET_NAME:msg.payload.mname,\n    PERSON_NAME:msg.payload.pname,\n    EMAIL:msg.payload.email,\n    CROPreq:msg.payload.creq,\n    CROPquantity:msg.payload.cq,\n    maxCOST:msg.payload.cost,\n    DFR:msg.payload.dfr,\n    CONTACTAT:msg.payload.contact,\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":900,"wires":[["49dfa52e.178a2c","9482ad82.ae44e"]]},{"id":"c3133fd5.b467f","type":"function","z":"6b47920b.68a7ec","name":"","func":"msg.payload=\"hey \"+\"Ravi\"+\" request is sucessfully submitted\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1000,"wires":[["1c7c41a7.20671e"]]},{"id":"1c7c41a7.20671e","type":"ui_text","z":"6b47920b.68a7ec","group":"b1b66018.641e4","order":3,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-right","x":570,"y":1000,"wires":[]},{"id":"49dfa52e.178a2c","type":"dashDB out","z":"6b47920b.68a7ec","dashDB":"e6af325c.7d8df","service":"_ext_","table":"MARKET_DETAIL","name":"","x":770,"y":800,"wires":[]},{"id":"9482ad82.ae44e","type":"debug","z":"6b47920b.68a7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":920,"wires":[]},{"id":"ded12d63.a9c7d","type":"ui_form","z":"6b47920b.68a7ec","name":"Find your market","label":"","group":"3cf73e7a.cc4fe2","order":0,"width":0,"height":0,"options":[{"label":"Farm area","value":"fa","type":"text","required":true,"rows":null},{"label":"Crop to sold","value":"ctr","type":"text","required":true,"rows":null},{"label":"Crop Quantity","value":"cq","type":"text","required":true,"rows":null},{"label":"MInCost","value":"mnc","type":"text","required":true,"rows":null},{"label":"Distance from referance","value":"dfr","type":"number","required":true,"rows":null},{"label":"Transportation Charge per km","value":"tc","type":"number","required":true,"rows":null}],"formValue":{"fa":"","ctr":"","cq":"","mnc":"","dfr":"","tc":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":1180,"wires":[["27a2d48a.33b8cc"]]},{"id":"27a2d48a.33b8cc","type":"function","z":"6b47920b.68a7ec","name":"","func":"global.set(\"ctr\",msg.payload.ctr);\nglobal.set(\"cq\",msg.payload.cq);\nglobal.set(\"dfr\",msg.payload.dfr);\nglobal.set(\"mxnc\",msg.payload.mnc);\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1200,"wires":[["e8134c67.f9511"]]},{"id":"e8134c67.f9511","type":"function","z":"6b47920b.68a7ec","name":"","func":"var cropTS=global.get(\"cropTS\")\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1260,"wires":[["e6e39c9e.70ecb"]]},{"id":"e6e39c9e.70ecb","type":"dashDB in","z":"6b47920b.68a7ec","dashDB":"e6af325c.7d8df","service":"_ext_","query":"select MARKET_NAME && PERSON_NAME && CONATACTAT from MARKET_DETAIL where ctr=CROPreq","params":"","name":"","x":780,"y":1180,"wires":[["25a34223.ad524e","e5424919.911f68"]]},{"id":"25a34223.ad524e","type":"debug","z":"6b47920b.68a7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":980,"y":1180,"wires":[]},{"id":"e5424919.911f68","type":"function","z":"6b47920b.68a7ec","name":"","func":"var ctrr=global.get('ctr')\nmsg.payload=\"suitable markets according to your request is  \"+ \"naya bazar\" +\" Person name is \"+ \"Ravi\"+ \"contact:\"+\"9450682220\"\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1320,"wires":[["9fb72182.59334"]]},{"id":"9fb72182.59334","type":"ui_text","z":"6b47920b.68a7ec","group":"3cf73e7a.cc4fe2","order":1,"width":"6","height":"3","name":"","label":"Result:","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":1340,"wires":[]},{"id":"4613cb3f.3e1914","type":"ui_form","z":"6b47920b.68a7ec","name":"push request by farmers","label":"","group":"1d83d4ef.258acb","order":0,"width":0,"height":0,"options":[{"label":"Farmer Name","value":"fname","type":"text","required":true,"rows":null},{"label":"Farm Area","value":"aname","type":"text","required":true,"rows":null},{"label":"Distance from ref","value":"dfr","type":"number","required":true,"rows":null},{"label":"Crop Detail","value":"creq","type":"text","required":true,"rows":null},{"label":"Crop quantity","value":"cq","type":"number","required":true,"rows":null},{"label":"Min cost Required","value":"ccost","type":"text","required":true,"rows":null},{"label":"Contact At","value":"contact","type":"number","required":true,"rows":null},{"label":"EMAIL","value":"email","type":"text","required":true,"rows":null}],"formValue":{"fname":"","aname":"","dfr":"","creq":"","cq":"","ccost":"","contact":"","email":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":1560,"wires":[["c20cb6ac.dc3fd8","260613ce.c176cc"]]},{"id":"c20cb6ac.dc3fd8","type":"function","z":"6b47920b.68a7ec","name":"Push request","func":"msg.payload={\n    F_NAME:msg.payload.fname,\n    FARMAREA:msg.payload.aname,\n    EMAIL:msg.payload.email,\n    CROP_DETAIL:msg.payload.csold,\n    CROP_QUANTITY:msg.payload.cq,\n    MIN_COST_REQ:msg.payload.ccost,\n    DFR:msg.payload.dfr,\n    CONTACTAT:msg.payload.contact,\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1520,"wires":[["2deb0595.bdfcca","8eb5ccc5.fd9c8"]]},{"id":"260613ce.c176cc","type":"function","z":"6b47920b.68a7ec","name":"","func":"msg.payload=\"hey \"+\"Ramesh\"+\" crop detail is sucessfully submitted\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1620,"wires":[["c198964b.62e9a8"]]},{"id":"c198964b.62e9a8","type":"ui_text","z":"6b47920b.68a7ec","group":"1d83d4ef.258acb","order":3,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":1620,"wires":[]},{"id":"2deb0595.bdfcca","type":"dashDB out","z":"6b47920b.68a7ec","dashDB":"e6af325c.7d8df","service":"_ext_","table":"CROP_DETAIL","name":"","x":760,"y":1420,"wires":[]},{"id":"8eb5ccc5.fd9c8","type":"debug","z":"6b47920b.68a7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":1540,"wires":[]},{"id":"4ccce2bd.df7b4c","type":"ui_form","z":"6b47920b.68a7ec","name":"Find your crop","label":"","group":"f38e8bcb.a52d88","order":0,"width":0,"height":0,"options":[{"label":"Crop requested","value":"cr","type":"text","required":true,"rows":null},{"label":"Market Name","value":"Ma","type":"text","required":true,"rows":null},{"label":"Distance from referance","value":"dfr","type":"number","required":true,"rows":null},{"label":"Transportation Charge per km","value":"tc","type":"number","required":true,"rows":null},{"label":"MaxCost","value":"mxnc","type":"text","required":true,"rows":null}],"formValue":{"cr":"","Ma":"","dfr":"","tc":"","mxnc":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":1840,"wires":[["3bf65746.fb8fe8"]]},{"id":"3bf65746.fb8fe8","type":"function","z":"6b47920b.68a7ec","name":"","func":"global.set(\"cr\",msg.payload.ctr);\nglobal.set(\"dfr\",msg.payload.dfr);\nglobal.set(\"mxnc\",msg.payload.mnc);\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1860,"wires":[["975881c.af55a8"]]},{"id":"975881c.af55a8","type":"function","z":"6b47920b.68a7ec","name":"","func":"var cropTS=global.get(\"cropTS\")\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1920,"wires":[["7977c0a0.08295"]]},{"id":"7977c0a0.08295","type":"dashDB in","z":"6b47920b.68a7ec","dashDB":"e6af325c.7d8df","service":"_ext_","query":"select FARMAREA  && F_NAE && CONTACTAT from CROP_DETAIL where cr==CROP_DETAIL\n","params":"","name":"","x":780,"y":1840,"wires":[["d7f7db50.135fc8","5075e5fe.9adccc"]]},{"id":"d7f7db50.135fc8","type":"debug","z":"6b47920b.68a7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":980,"y":1840,"wires":[]},{"id":"5075e5fe.9adccc","type":"function","z":"6b47920b.68a7ec","name":"","func":"var dfr=global.get('dfr')\nmsg.payload=msg.payload.DFR\nmsg.payload=\"Your requested crop can be find at FarmArea: \"+\"rampur\"+ \" contact person is:\"+\"Ramesh\"+\"no. \"+ \" 9839720092\"\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1980,"wires":[["c9c21a9c.b70dd8"]]},{"id":"c9c21a9c.b70dd8","type":"ui_text","z":"6b47920b.68a7ec","group":"f38e8bcb.a52d88","order":1,"width":"6","height":"2","name":"","label":"Result","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":2000,"wires":[]},{"id":"35e7d583.c0330a","type":"ui_group","z":"","name":"FarmHub","tab":"5bbf5c48.725ad4","order":2,"disp":true,"width":"6","collapse":false},{"id":"e6af325c.7d8df","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"34e05384.79319c","type":"ui_group","z":"","name":"Farmer login","tab":"68fb3ff1.14d66","order":1,"disp":true,"width":"6","collapse":false},{"id":"735609ca.5d0d98","type":"ui_group","z":"","name":"PullRequest","tab":"38ec5318.b49d0c","order":4,"disp":true,"width":"6","collapse":false},{"id":"b1b66018.641e4","type":"ui_group","z":"","name":"Result:","tab":"38ec5318.b49d0c","order":3,"disp":true,"width":"6","collapse":false},{"id":"3cf73e7a.cc4fe2","type":"ui_group","z":"","name":"Find Your Market","tab":"298b6f54.38e35","order":3,"disp":true,"width":"6","collapse":false},{"id":"1d83d4ef.258acb","type":"ui_group","z":"","name":"PuSHRequest","tab":"21a2bd0b.cf0ef2","order":2,"disp":true,"width":"6","collapse":false},{"id":"f38e8bcb.a52d88","type":"ui_group","z":"","name":"Find YOUR Crop","tab":"1a1fb355.52941d","order":1,"disp":true,"width":"6","collapse":false},{"id":"5bbf5c48.725ad4","type":"ui_tab","z":"","name":"Registration","icon":"Student details","order":8,"disabled":false,"hidden":false},{"id":"68fb3ff1.14d66","type":"ui_tab","z":"","name":"Login","icon":"student login","order":9,"disabled":false,"hidden":false},{"id":"38ec5318.b49d0c","type":"ui_tab","z":"","name":"PULL REQUEST@Farmer","icon":"","order":10,"disabled":false,"hidden":false},{"id":"298b6f54.38e35","type":"ui_tab","z":"","name":"Find Market","icon":"FindYMarket","order":12,"disabled":false,"hidden":false},{"id":"21a2bd0b.cf0ef2","type":"ui_tab","z":"","name":"PUSH REQUEST","icon":"dashboard","order":11,"disabled":false,"hidden":false},{"id":"1a1fb355.52941d","type":"ui_tab","z":"","name":"FIND YOUR CROP","icon":"dashboard","order":13,"disabled":false,"hidden":false}]